* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

picture {
  display: flex;
}

.will-change--active {
  will-change: auto;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: calc(1590px + 10px * 2);
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 992px) {
    max-width: calc(720px + 10px * 2);
  }

  @media (max-width: 768px) {
    max-width: calc(540px + 10px * 2);
  }

  @media (max-width: 576px) {
    padding: 0 10px;
  }
}

div.title {
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-bottom: 45px;

  @media (max-width: 768px) {
    margin-bottom: 24px;
    gap: 8px;
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 67px;
    color: #2b2b2b;
    text-align: center;

    @media (max-width: 1280px) {
      font-size: 52px;
    }

    @media (max-width: 992px) {
      font-size: 45px;
      line-height: 110%;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 33px;
    }
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 115%;
    text-align: center;
    color: #2b2b2b;

    @media (max-width: 1280px) {
      font-size: 32px;
    }

    @media (max-width: 992px) {
      font-size: 27px;
      line-height: 110%;
    }

    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.vita-input {
  display: block;
  padding: 16px 23px;
  border: 2px solid #cecece;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #2b2b2b;
  width: 100%;
  transition: all 0.3s ease;

  &::placeholder {
    color: #2b2b2b;
    opacity: 1;
  }

  @media (max-width: 576px) {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
  }

  &:hover,
  &:focus {
    transform: translateY(-1px);
    border: 2px solid rgb(86, 77, 77);
    box-shadow: 0 0 7px 1px rgb(86 77 77 / 45%);
  }

  &--error {
    cursor: default;
    border: 2px solid rgb(214 85 85 / 90%) !important;
    box-shadow: 0 0 7px 1px rgb(214 85 85 / 45%) !important;
  }
}

.image-lazy__animation {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.8s;
}

.image-lazy {
  opacity: 0;
  transition: all 0.1s;

  &--loaded {
    opacity: 1;
    transform: scale(1);
  }
}

.gorizontal-line {
  height: 2px;
  width: 100%;
  background: #cecece;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(239, 239, 239, 0.6);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(57, 57, 57, 0.35);
  z-index: 1;
  cursor: pointer;

  &:hover {
    background: rgba(57, 57, 57, 0.45);
  }

  &:active {
    background: rgba(57, 57, 57, 0.6);
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(239, 239, 239, 0.2);
}

*::selection {
  background: rgba(206, 205, 205, 0.8);
  color: #2b2b2b;
}

.fancybox__content {
  .is-close {
    top: 0 !important;
    color: #2b2b2b !important;
    outline: none !important;

    svg {
      width: 18px !important;
      height: 18px !important;
      filter: none !important;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: max-content;
  max-width: 100%;
  cursor: pointer;

  // @media (max-width: 575px) {
  //   order: 1;
  // }

  input {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  div.box {
    width: 26px;
    height: 26px;
    border: 2px solid #cecece;
    border-radius: 2px;
    background-color: white;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @media (max-width: 576px) {
      width: 20px;
      height: 20px;

      svg {
        width: 14px;
        height: 12px;
      }
    }

    svg path {
      display: none;
    }
  }

  span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2b2b2b;

    @media (max-width: 575px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &:hover {
    input[type="checkbox"]:not(:checked) + div {
      border-color: #468217;
      box-shadow: 0 0 4px 1px rgba(70, 130, 23, 0.3);
    }
  }

  input[type="checkbox"]:checked + div {
    background-color: #468217;
    border: 2px solid #468217;
    svg path {
      display: block;
      stroke-dasharray: 700;
      animation: dash 2.3s linear alternate 1;
    }
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 822;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
