* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

picture {
  display: flex;
}

.will-change--active {
  will-change: auto;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: calc((1590px + 10px * 2));
  // width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 85%;

  @media (max-width: 992px) {
    max-width: calc(720px + 10px * 2);
  }

  @media (max-width: 768px) {
    max-width: calc(540px + 10px * 2);
    width: 100%;
  }

  @media (max-width: 576px) {
    padding: 0 10px;
  }
}

div.title {
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-bottom: 45px;

  @media (max-width: 768px) {
    margin-bottom: 24px;
    gap: 8px;
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 67px;
    color: #2b2b2b;
    text-align: center;

    @media (max-width: 1280px) {
      font-size: 52px;
    }

    @media (max-width: 992px) {
      font-size: 45px;
      line-height: 110%;
    }

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 33px;
    }
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 115%;
    text-align: center;
    color: #2b2b2b;

    @media (max-width: 1280px) {
      font-size: 32px;
    }

    @media (max-width: 992px) {
      font-size: 27px;
      line-height: 110%;
    }

    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.vita-input {
  display: block;
  padding: 16px 23px;
  border: 2px solid #cecece;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #2b2b2b;
  width: 100%;
  transition: all 0.3s ease;

  &::placeholder {
    color: #2b2b2b;
    opacity: 1;
  }

  @media (max-width: 576px) {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 6px;
  }

  &:hover,
  &:focus {
    transform: translateY(-1px);
    border: 2px solid rgb(86, 77, 77);
    box-shadow: 0 0 7px 1px rgb(86 77 77 / 45%);
  }

  &--error {
    cursor: default;
    border: 2px solid rgb(214 85 85 / 90%) !important;
    box-shadow: 0 0 7px 1px rgb(214 85 85 / 45%) !important;
  }
}

.image-lazy__animation {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.8s;
}

.image-lazy {
  opacity: 0;
  transition: all 0.1s;

  &--loaded {
    opacity: 1;
    transform: scale(1);
  }
}

.gorizontal-line {
  height: 2px;
  width: 100%;
  background: #cecece;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(239, 239, 239, 0.6);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(57, 57, 57, 0.35);
  z-index: 1;
  cursor: pointer;

  &:hover {
    background: rgba(57, 57, 57, 0.45);
  }

  &:active {
    background: rgba(57, 57, 57, 0.6);
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(239, 239, 239, 0.2);
}

*::selection {
  background: rgba(206, 205, 205, 0.8);
  color: #2b2b2b;
}

.fancybox__content {
  .is-close {
    top: 0 !important;
    color: #2b2b2b !important;
    outline: none !important;

    svg {
      width: 18px !important;
      height: 18px !important;
      filter: none !important;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: max-content;
  max-width: 100%;
  cursor: pointer;

  // @media (max-width: 575px) {
  //   order: 1;
  // }

  input {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  div.box {
    width: 26px;
    height: 26px;
    border: 2px solid #cecece;
    border-radius: 2px;
    background-color: white;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @media (max-width: 576px) {
      width: 20px;
      height: 20px;

      svg {
        width: 14px;
        height: 12px;
      }
    }

    svg path {
      display: none;
    }
  }

  span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2b2b2b;

    @media (max-width: 575px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &:hover {
    input[type="checkbox"]:not(:checked) + div {
      border-color: #468217;
      box-shadow: 0 0 4px 1px rgba(70, 130, 23, 0.3);
    }
  }

  input[type="checkbox"]:checked + div {
    background-color: #468217;
    border: 2px solid #468217;
    svg path {
      display: block;
      stroke-dasharray: 700;
      animation: dash 2.3s linear alternate 1;
    }
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 822;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@import "./fancybox";

@import "./global";

.vita-item {
  height: 100%;
  @extend %shadow-block;
  padding: 70px;

  @media (max-width: 1366px) {
    padding: 40px;
  }

  @media (max-width: 1280px) {
    padding: 30px;
  }

  @media (max-width: 992px) {
    padding: 34px 34px;
  }

  @media (max-width: 576px) {
    padding: 24px 14px;
  }

  .vita-wraper {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 50px;
    height: 100%;

    @media (max-width: 1366px) {
      column-gap: 40px;
    }

    @media (max-width: 1280px) {
      align-items: center;
      column-gap: 30px;
    }

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 2px auto;
      gap: 32px;
      @include mobileContent();
    }

    @media (max-width: 576px) {
      grid-template-rows: auto auto 2px auto;
    }

    &__title {
      grid-row: 1/2;
      grid-column: 1/2;

      @media (max-width: 992px) {
        align-self: flex-start;
      }

      h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        color: $gray;
        font-size: 60px;
        margin-bottom: 30px;

        @include fluidFontSize(40, 60, 993, 1920);
        @media (max-width: 1366px) {
          margin-bottom: 22px;
        }
        @media (max-width: 992px) {
          text-align: center;
          margin-bottom: 8px;
        }

        @media (max-width: 768px) {
          font-weight: 700;
          font-size: 28px;
          line-height: 100%;
        }

        @media (max-width: 576px) {
          width: calc(100% + 6px);
          transform: translateX(-3px);
        }
      }

      p.subtitle {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        line-height: 115%;
        color: $gray;
        margin-bottom: 30px;
        font-size: 40px;

        @include fluidFontSize(24, 40, 993, 1920);

        @media (max-width: 1366px) {
          margin-bottom: 22px;
        }

        @media (max-width: 992px) {
          margin-bottom: 0;
          // width: 80%;
          text-align: center;
        }

        @media (max-width: 768px) {
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
        }

        @media (max-width: 576px) {
          width: calc(100% + 18px);
          transform: translateX(-9px);
        }
      }
    }

    &__line {
      grid-row: 1/3;
      grid-column: 2/3;

      @media (max-width: 992px) {
        grid-row: 3/4;
        grid-column: 1/2;
      }

      .line {
        height: 100%;
        background: #cecece;
        @media (max-width: 992px) {
          height: 2px;
        }
      }

      height: 100%;
      width: 100%;
    }

    &__media {
      grid-row: 1/3;
      grid-column: 3/4;

      @media (max-width: 992px) {
        grid-row: 2/3;
        grid-column: 1/2;
        height: 100%;
      }
    }

    &__content {
      grid-row: 2/3;
      grid-column: 1/2;
      align-self: start;

      @media (max-width: 992px) {
        grid-row: 4/5;
        grid-column: 1/2;
      }

      p,
      li.asp {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        line-height: 115%;
        color: $gray;
        font-size: 22px;

        @include fluidFontSize(18, 22, 993, 1920);

        @media (max-width: 768px) {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }

        span:not(.test) {
          font-weight: 700;
        }
      }

      li.asp {
        padding-left: 30px;
        position: relative;

        @media (max-width: 1024px) {
          padding-left: 25px;
        }

        @media (max-width: 576px) {
          padding-left: 20px;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          content: "";

          background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMTAiIGZpbGw9IiNFMkJDODUiLz4KPC9zdmc+Cg==)
            no-repeat;
          height: 20px;
          width: 20px;
          background-size: 100%;
          background-position: center;

          @media (max-width: 1024px) {
            height: 15px;
            width: 15px;
          }

          @media (max-width: 576px) {
            height: 12px;
            width: 12px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
